---
http_interactions:
- request:
    method: post
    uri: https://digiwindsp.digiwin.com/DSP_UAT/api/DSP/v1/SalesOrder/cancel
    body:
      encoding: UTF-8
      string: '{"digi_body":{"std_data":{"parameter":{"request":{"request_detail":[{"platform_id":"<PLATFORM_ID>","create_datetime":"2026-05-22
        12:00:00","site_no":"<PLATFORM_ID>","form_no":"CASSETTE-002-ORDER","order_date":"20260522","sno":"1","product_no":"CASSETTE-001","order_status":"2"}]}}}}}'
    headers:
      Dsp-Api-Key:
      - "<DSP_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"Status":"Success","Message":"","response_detail":[{"platform_id":"<PLATFORM_ID>","create_datetime":"2026-05-22
        12:00:00","site_no":"<PLATFORM_ID>","form_no":"CASSETTE-002-ORDER","order_date":"20260522","memo":null,"shopping_form_no":null,"refund_type":null,"sno":"1","product_no":"CASSETTE-001","shipping_no":null,"order_status":"2"}]}'
  recorded_at: Fri, 22 May 2026 06:52:21 GMT
recorded_with: VCR 6.4.0
