---
http_interactions:
- request:
    method: post
    uri: https://digiwindsp.digiwin.com/DSP_UAT/api/DSP/v1/SalesOrder/invoice
    body:
      encoding: UTF-8
      string: '{"digi_body":{"std_data":{"parameter":{"request":{"request_detail":[{"platform_id":"<PLATFORM_ID>","create_datetime":"2026-05-22
        12:00:00","site_no":"<PLATFORM_ID>","form_no":"CASSETTE-002-ORDER","invoice_no":"CASSETTE-001-INV","invoice_date":"20260522","invoice_time":"120000","invoice_status":"1","invoice_type":"7","random_code":"1234","order_status":"5"}]}}}}}'
    headers:
      Dsp-Api-Key:
      - "<DSP_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"Status":"Success","Message":"","response_detail":[{"platform_id":"<PLATFORM_ID>","create_datetime":"2026-05-22
        12:00:00","site_no":"<PLATFORM_ID>","form_no":"CASSETTE-002-ORDER","tax_type":null,"invoice_date":"20260522","invoice_time":"120000","invoice_no":"CASSETTE-001-INV","invoice_status":"1","invoice_type":"7","seller_name":null,"seller_address":null,"buyer_ban":null,"random_code":"1234","carrier_type":null,"carrier_showid":null,"carrier_hiddenid":null,"love_code":null,"is_pay":null,"sno":null,"product_no":null,"order_status":"5"}]}'
  recorded_at: Fri, 22 May 2026 06:52:21 GMT
recorded_with: VCR 6.4.0
